.commentProfile {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: start;
}
.column {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin-left: 1.5rem;
}
.column p {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  font-weight: lighter;
}

.row {
  display: flex;
  flex-direction: row;

  justify-content: center;
}

.row :last-child {
  margin-left: 12px;
  color: gray;
}
