.homePageMainDiv {
  width: 100%;
  padding-bottom: 200px;
}
.denemeContainer {
  width: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: auto;
}
.denemeContainer p {
  line-height: 32px;

  font-style: normal;
  font-style: normal;
  font-weight: 400;

  font-size: 21px;
  letter-spacing: 1px;
  font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
  word-break: break-word;
}
.denemeContainer h1 {
  font-size: 30px;

  font-weight: bold;

  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.denemeContainer img {
  width: 750px;
}
