.homeMainDiv {
  margin: auto;
  width: 1220px;
}

.indexRow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.indexRow hr {
  border-top: 1px solid blue;
}

.hakkimizda {
  margin-left: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  padding-right: 24px;
}

@media only screen and (max-width: 1210px) {
  .homeMainDiv {
    margin: auto;
    width: 820px;
  }
  .hakkimizda {
    display: none;
  }
}
