.mainMyCardDiv {
  width: 780px;
  height: 307px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 25px;
  overflow: hidden;
}
.mainMyCardDiv img {
  width: 200px;
  height: 200px;
  border-radius: 15px;
  margin-right: 25px;
  overflow: auto;
}
.zz a {
  padding: 7px;
}
.cardCol {
  width: 550px;
  margin-left: 25px;
}

.cardCol ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.cardCol ul li {
  padding: 5px;
  list-style: none;
}

.cardCol a {
  color: rgb(41, 41, 41);
}
.cardCol a :hover {
  color: black;
}

/*
İLK DENEMELER

*/

/*
@media only screen and (max-width: 910px) {
  .imageDiv {
    height: 80vh;
  }
  .mainMyCardDiv {
    width: 90vw;
    overflow: hidden;
  }

  .cardCol p {
    font-size: 2.5vw;
  }
  .cardCol {
    background-color: blue;
  }
}

@media only screen and (max-width: 710px) {
  .mainMyCardDiv {
    overflow: hidden;
  }

  .cardCol {
    background-color: red;
  }

  .cardCol p {
    font-size: 3.5vw;
  }
}
*/

@media only screen and (max-width: 890px) {
  .mainMyCardDiv {
    width: 100%;
    overflow: hidden;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .imageDiv {
    display: none;
  }
}

@media only screen and (max-width: 650px) {
  .mainMyCardDiv {
    width: 100%;
  }

  .imageDiv {
    display: none;
  }
}
