.navbarsDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.iconDiv a {
  padding: 10px;
}

@media only screen and (max-width: 1210px) {
  .navbarsDiv {
    width: 100%;
  }
}
