.hbir {
  font-family: cursive;
}

.navbarsDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75vh;
  background-color: white;
  padding: 12rem;
}

.navbarsDiv h1 {
  font-size: 3rem;
  margin-top: 150px;
  margin-bottom: 120px;
  text-align: center;
}
.iconDiv a {
  padding: 10px;
}
.headerbuttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.headerbuttons a {
  padding-left: 16px;
  padding-right: 16px;
  color: black;
}

@media only screen and (max-width: 1210px) {
  .navbarsDiv {
    width: 100%;
  }
}

@media only screen and (max-width: 710px) {
  .navbarsDiv {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }

  .navbarsDiv h1 {
    text-align: center;
    font-size: 3rem;
  }

  .navbarsDiv {
  }
  .iconDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
