.mainDiv {
  width: 100%;

  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.col {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.colProfileInfo {
  background-color: whitesmoke;
  width: 30vw;
  height: 350px;

  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 1rem;
}
.colProfileInfo h1 {
  text-align: start;
}
